.testimonials {
    padding: 20px 50px;
    background-color: black;
    color: #fff;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    gap: 120px;

}

.testimonials .container .left_t {
    width: 80%;
}

.testimonials .container .left_t>h3 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 30px;
    align-items: center;
}

.testimonials .container .left_t>p {
    font-size: 17px;
    color: rgb(222, 219, 219);
}

.testimonials .container .right_t {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
}

.testimonials .container .right_t>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
}

.testimonials .container .right_t>p {
    font-size: 18px;
    color: rgb(209, 207, 207);
}

.testimonials .container .right_t>span:nth-of-type(1) {
    font-size: 20px;
    color: green;
    font-weight: bold;
    letter-spacing: 3px;
}

.testimonials .container .right_t>span:nth-of-type(2) {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}

.testimonials .container .icons {
    display: flex;
    gap: 20px;
}

.testimonials .container .icons>span {
    color: green;
    font-size: 30px;
    cursor: pointer;
}

/* Styles for screens smaller than 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
    .testimonials {
        padding: 15px;
        /* Adjust padding for smaller screens */
    }

    .testimonials .container {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        align-items: center;
        /* Center elements horizontally on smaller screens */
        gap: 30px;
        /* Adjust gap between items for smaller screens */
    }

    .testimonials .container .left_t {
        width: 100%;
        /* Take up full width on smaller screens */
    }

    .testimonials .container .left_t>h3 {
        font-size: 25px;
        /* Decrease font size for smaller screens */
        margin: 20px 0;
        /* Adjust margin for smaller screens */
        text-align: center;
        /* Center align text on smaller screens */
    }

    .testimonials .container .right_t {
        margin-left: 0;
        /* Remove left margin for smaller screens */
    }

    .testimonials .container .icons {
        justify-content: center;
        /* Center icons horizontally on smaller screens */
    }
}